.flex-item {
  margin: 20px;
  max-width: 100px;
  border: 2px solid #ff7b91;
  padding: 0 20px;
  cursor: pointer;
}

h2 {
  margin: 0;
}

.Oreo-img {
  width: 100%;
}

.Chocolate-img {
  width: 110%;
  margin-bottom: 14px;
}

.Rosa-img {
  width: 115%;
  margin-bottom: 35px;
}

.send-button {
  background: #ff98a9;
  border: none;
  margin-bottom: 12px;
  padding: 10px;
  cursor: pointer;
}

.send-button:hover {
  background: #d66678;
}